.login-container{
    background-image: url('../../assets/bg-01.jpg');
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.wrap-login {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 35px 55px;
}
.login-form-title {
    display: block;
    font-size: 39px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 50px;
    font-weight: 500;
}
.validate-input {
    position: relative;
  }
.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 23px;
}
.wrap-input i{
    position:absolute;
    top: 43px;
    color: #919191;
}
.label-input {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}
.login-form {
    width: 100%;
}
.input-field1 {
    font-size: 16px;
    color: #333;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 55px;
    background: 0 0;
    padding: 0 7px 0 27px;
    outline: none;
    border: none;
    font-family: 'Roboto', sans-serif;
}
.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    font-family: 'Roboto', sans-serif;
}
.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: #7f7f7f;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;

}
.focus-input::after {
    content: attr(data-symbol);
    font-family: Material-Design-Iconic-Font;
    color: #adadad;
    font-size: 22px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: calc(100% - 20px);
    bottom: 0;
    left: 0;
    padding-left: 13px;
    padding-top: 3px;
  }
.text-right{
    text-align: right;
    padding-top: 8px;
    padding-bottom: 30px;
}
.container-login-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrap-login-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 5px 30px 0 rgba(3,216,222,.2);
    -moz-box-shadow: 0 5px 30px 0 rgba(3,216,222,.2);
    -webkit-box-shadow: 0 5px 30px 0 rgba(3,216,222,.2);
    -o-box-shadow: 0 5px 30px 0 rgba(3,216,222,.2);
    -ms-box-shadow: 0 5px 30px 0 rgba(3,216,222,.2);
  }
  .login-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #a64bf4;
    background: -webkit-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
    background: -o-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
    background: -moz-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
    background: linear-gradient(to left,#00dbde,#fc00ff,#00dbde,#fc00ff);
    top: 0;
    left: -100%;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
  }
  .login-form-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: 0 0;
  }
  .wrap-login-form-btn:hover .login-form-bgbtn {
    left: 0;
  }
  a {
    color: #3f84fc;
    text-decoration: none;
    background-color: transparent;
}